$colorText: #f4f4f4;
@import "./font";

@mixin title-big() {
  font-size: 6rem;
  font-weight: bold;
  color: $colorText;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@mixin button($color) {
  font-size: $fontText;
  border: 2px solid $color;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: lighten($color, 30%);
  color: darken($color, 30%);
}

@mixin floating($border-radius: 0, $boxShadow: 0, $border: 0) {
  border-radius: $border-radius;
  box-shadow: $boxShadow;
  border: $border;
}
