@import "./partials/reset" @import "./partials/colors";
@import "./partials/spaziature";
@import "./partials/button";
@import "./partials/font";

body {
  font-family: $fontPrimary;

  margin: 0;
  header {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $paddingNavbar;
      width: 100%;
      background-color: $backroundNavbar;
      a {
        text-decoration: none;
        color: $colorText;
        img {
          width: 80px;
          height: 80px;
        }
      }
      ul {
        li {
          display: inline-block;
          padding: $paddingLi;
          color: $colorText;
        }
      }
    }
  }
}

main {
  display: flex;
  background-color: $backroundMain;
  color: $colorText;
  div {
    padding: $paddingDiv;
    h1 {
      text-align: center;
      font-size: $sizeTitle;
      font-family: $fontSecondary;
    }
    p {
      text-align: center;
    }
    section {
      text-align: center;
      margin-top: $margin-topButton;
    }
  }
}
